<div class="fullWidth header w3-padding">
    <h3 class="w3-opacity w3-margin-left">
      <b>{{ logo }}</b>
    </h3>
    <div class="w3-margin-right">
      <button
        (click)="btnPressEvent('btn1')"
        class="w3-button w3-blue w3-round w3-ripple w3-margin-right"
      >
        {{ btn1 }}
      </button>
      <button
        (click)="btnPressEvent('btn2')"
        class="w3-button w3-green w3-round w3-ripple w3-margin-right"
      >
        {{ btn2 }}
      </button>
    </div>
  </div>
