<!-- <h1>ANGULAR TRIAL PAULLETE</h1> -->
<h1>IS THIS THE ROOT COMPONENT?</h1>
<!-- <my-first-component></my-first-component>
<my-first-component></my-first-component> -->
<!-- <app-my-second-component></app-my-second-component> -->
<!-- <interpolation></interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-goal></app-goal> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<app-the-child-component></app-the-child-component>
<app-parent-component></app-parent-component>